<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erookies.mine">

    <application>
        <activity
            android:name=".ui.MineContainerActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.LosePwdActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.AuthenticationActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.SettingActivity"
            android:launchMode="singleTop" />
    </application>

</manifest>