<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erookies.mine">

    <application>
        <activity android:name=".ui.LosePwdActivity"></activity>
        <activity android:name=".ui.AuthenticationActivity" />
        <activity android:name=".ui.SettingActivity" />
    </application>

</manifest>